// 기본 색상
$white: #fff;
$black: #000;
$black2: #030303;
$red_landing: #E93945;
$red_login: #FF153C;
$red_hover: #CC1030;
$red: #C73E4E;
$gray1: #E1E1E1;
$gray2: #C4C4C4;
$gray3: #A6A6A6;
$gray4: #898989;
$gray5: #6B6B6B;
$gray6: #565656;
$gray7: #404040;
$gray8: #2B2B2B;
$gray9: #151515;
$dark-bg1 : #191919;
$dark-bg2: #212121;

$dark-brown: #38302e;
$brown: #988574;
$light-brown: #c7b39a;
$green: #abd375;
$light-yellow: #ffc;
$yellow: #e8ca58;
$khaki: #f0e68c;
$orange: #eea60a;
$blue: #6aaee6;
$silver: #999;

// 콘텐츠 별 색상 변수
$main-bg-color: $black;
$section-title-text: $white;
$title-text: $gray2;
$subtitle-text: $gray3;
$join-text: $gray4;
$third-text: $gray5;
$input-text: $gray6;
$search-text: $gray7;
$Quick-vod: $red;

$shadow-color: $black; // 그림자 색상
