@use "sass:map";

// Breakpoints
$breakpoints: (
  s: 320px,
  m: 768px,
  l: 1280px,
  xl: 1920px,
  //모바일 320~767
  //태블릿 768~1279
  //데스크탑 1280~1920
);

@function errorMessage($breakpoint-name) {
  @return "#{$breakpoint-name} : 중단점이 유효하지 않습니다.";
}

@mixin respond-from($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @media (min-width: $breakpoint-value) {
      @content;
    }
  } @else {
    @error errorMessage($breakpoint);
  }
}

@mixin respond-until($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map.get($breakpoints, $breakpoint);

    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @error errorMessage($breakpoint);
  }
}

@mixin respond-range($from, $until) {
  @if map.has-key($breakpoints, $from) and map.has-key($breakpoints, $until) {
    $from-value: map.get($breakpoints, $from);
    $until-value: map.get($breakpoints, $until);

    @media (min-width: $from-value) and (max-width: ($until-value - 1)) {
      @content;
    }
  } @else {
    @if (map.has-key($breakpoints, $from) == false) {
      @error errorMessage($from);
    }

    @if (map.has-key($breakpoints, $until) == false) {
      @error errorMessage($until);
    }
  }
}

// 미디어 쿼리 중단점 (Breakpoints) --------------------------------------------------------------- /
$max_mobile: 768px;
$max_tablet: 1280px;
$max_desktop: 1920px;
  //모바일 320~767
  //태블릿 768~1279
  //데스크탑 1280~1920

@mixin mobile {
  @media (max-width: #{$max_mobile - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$max_mobile}) and (max-width: ($max_tablet - 1)) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$max_tablet}) and (max-width: ($max_desktop)) {
    @content;
  }
}

@mixin media($media) {
  @if $media == "mobile" {
    @media (max-width: #{$max_mobile - 1}) {
      @content;
    }
  }
  @if $media == "tablet" {
    @media (min-width: #{$max_mobile}) and (max-width: ($max_tablet - 1)) {
      @content;
    }
  }
  @if $media == "desktop" {
    @media (min-width: #{$max_tablet}) and (max-width: ($max_desktop)) {
      @content;
    }
  }
  @if $media != "mobile" and $media != "tablet" and $media != "desktop" {
    @error '미디어 유형이 유효하지 않습니다.';
  }
}
