@use './../utils' as *;

.find_pw_page {
    width: 40%;
    max-width: 400px;
    margin: 30px auto 0;
}

.title {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 700;
}

.explain_part {
    color: $gray2;
    font-size: 15.2px;
    margin-bottom: 10px;
}

.btn_check_3 {
    color: $gray3;
    background-color: $gray7;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    margin: 20px 0 40px;
    border-radius: 4px;
}

.explain_part p {
    line-height: 1.5;
    color: $gray4;
}

/* 모바일 미디어쿼리 */
@include mobile {
    .find_pw_page {
        width: 95%;
    }
}

/* 태블릿 미디어쿼리 */
@include tablet {
    .find_pw_page {
        width: 70%;
    }
}