@use './../utils' as *;

.join_page {
    width: 40%;
    max-width: 400px;
    margin: 30px auto 0;
}

.title_wrap {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 700;
}

.title_wrap h3 > p {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: $gray3;
}

.new_id, .new_pw, .new_pw_check, .new_email{
    width: 100%;
    padding: 20px 15px 20px;
    background-color: $dark-bg2;
    color: $gray6;
    border: 0;
    outline: none;
    border-radius: 4px;
    margin-top: 10px;
}

.input_info {
    font-weight: 500;
    font-size: 10px;
    margin-top: 5px;
    color: $gray6;
}

.new_pw_check {
    margin-bottom: 10px;
}

.data_input_check, .data_input_pw {
    position: relative;
}

#closePwCheck {
    width: 25px;
    height: 25px;
    background: url(./../image/login/DesktopPw.png) no-repeat center;
    position: absolute;
    background-size: 25px;
    right: 10px;
    bottom: -2px;
}

.check_wrap {
    margin-top: 12px;
    margin-bottom: 13px;
    font-size: 13px;
    font-weight: 300;
    color: $gray2;
}

/* 체크박스 아이콘 */
input[type="checkbox"] {
    display: none;
}

input#agreeAll + label > span{
    vertical-align: middle;
    padding-left: 5px;
}

input#agreeAll + label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    vertical-align:middle;
    background: url(./../image/login/DesktopDFilled.png) no-repeat;
    background-size: 17px;
}

input#agreeAll:checked + label:before {
    content:"";
    background: url(./../image/login/DesktopAFilled.png) no-repeat;
    background-size: 17px;
}

.regist_btn {
    color: $gray3;
    background-color: $gray7;
    display: inline-block;
    width: 100%;
    padding: 15px 0;
    margin: 10px 0 40px;
    border-radius: 4px;
}

input.agree_item + label > span{
    vertical-align: middle;
    padding-left: 5px;
}

/* label:before에 체크하기 전 상태 CSS */
input.agree_item + label:before{
    content:"";
    display:inline-block;
    width:17px;
    height:17px;
    vertical-align:middle;
    background: url(./../image/login/DesktopDNoFilled.png) no-repeat;
    background-size: 17px;
}

/* label:before에 체크 된 상태 CSS */  
input.agree_item:checked + label:before {
    content:"";
    background: url(./../image/login/DesktopDFilled.png) no-repeat;
    background-size: 17px;
}

.check_box {
    margin-bottom: 15px;
}

.check_box:nth-child(7), .check_box:nth-child(8) {
    padding-left: 35px;
}

/* 모바일 미디어쿼리 */
@include mobile {
    .join_page {
        width: 95%;
    }
}

/* 태블릿 미디어쿼리 */
@include tablet {
    .join_page {
        width: 70%;
    }
}