@use './../utils' as *;

.landing__body header {
  .menu,
  .searchForm,
  .userInfo {
    display: none;
  }
}

.section1 {
  background: #000 url("./../image/landing/backgorund-1.png") no-repeat center / cover;

  &__textbox {
    //max-width: rem(545px);
  }

  &__subtitle {
    color: $gray4;
  }
}

.section2 {
  overflow: hidden;
  &__imgbox {
    @include flexbox($justify: center);
    gap: rem(21px);
    margin-top: rem(50px);
  }
  &__imgbox > div {
    flex-shrink: 0;

    @include desktop {
      width: rem(908px);
    }

    @include tablet {
      width: rem(462px);
    }

    @include mobile {
      width: rem(400px);
    }
  }
}
.section3 {
  overflow: hidden;
  
  &__slidebox {
    overflow: hidden;
    margin-top: rem(70px);

    .slide__row__wrap {
      @include flexbox($justify: center);
      gap: rem(20px);
      animation: slidein 50000ms infinite;
    }
    .slide__row__wrap + .slide__row__wrap {
      margin-top: 1rem;
    }
    .slide__row {
      @include flexbox();
      flex-shrink: 0;
      gap: rem(20px);
    }
    .slide__row__wrap + .slide__row__wrap .slide__row {
      transform: translateX(rem(90px));
    }
    .slide__row figure {
      flex-basis: rem(470px);
      flex-shrink: 0;
    }
  }
}
.section4 {
  &__logo {
    @include autoMargin;
    width: rem(279px);
    margin-bottom: rem(36px);
  }
}


/* 섹션 공통 */
main .section1,
main .section2,
main .section3,
main .section4 {
  @include flexbox($direction: column, $justify: center, $items: center);
  width: 100%;
  min-height: 100vh;
}

main [class*="__container"] {
  text-align: center;
}

main [class*="__title"] {
  font-size: rem(50px);
  font-weight: 700;
  line-height: 1.4;

  span {
    display: block;
  }
}

main [class*="__subtitle"] {
  color: $gray2;
  font-size: rem(28px);
  font-weight: 600;
  line-height: 1.5;
  margin-top: rem(20px);
}

main [class*="__summary"] {
  color: $gray2;
  font-size: rem(22px);
  line-height: 1.6;
}

.join__button {
  //@include flexbox($items: center);
  @include autoMargin;
  display: block;
  width: rem(506px);
  font-size: rem(28px);
  font-weight: 600;
  line-height: 1.5;
  background: $red_landing url("./../image/landing/Simbol.svg") no-repeat rem(8px) top / auto;
  border-radius: rem(4px);
  text-align: center;
  padding: rem(19px);
  margin-top: rem(60px);
}

@include tablet {
  /* 섹션 공통 */
  main [class*="__title"] {
    font-size: rem(37px);
  }

  main [class*="__subtitle"] {
    font-size: rem(20px);
  }

  main [class*="__summary"] {
    font-size: rem(20px);
  }

  .join__button {
    width: rem(472px);
    font-size: rem(27px);
    padding: rem(19px);
    margin-top: rem(60px);
  }
}

@include mobile {
  main .section4 {
    margin: rem(100px) auto;
    min-height: 100%;
  }
  /* 섹션 공통 */
  main [class*="__title"] {
    font-size: rem(30px);
  }

  main [class*="__subtitle"] {
    font-size: rem(16px);
  }

  main [class*="__summary"] {
    font-size: rem(16px);
  }

  .section3 {
    [class*="__summary"] {
      display: none;
    }
  }

  .join__button {
    width: rem(350px);
    font-size: rem(20px);
    background: #E93945 url(./../image/landing/Simbol.svg) no-repeat 0.5rem top/15%;
    padding: rem(19px);
    margin-top: rem(60px);
  }
}


@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}