@use './../utils' as *;


body {
  overflow-x: hidden; //가로 스크롤바 숨기기
}

.modal {     // main 페이지의 modal css
  display: none;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;   //z 인덱스를 높여 화면가장 높이 보이게 만듬.

  &__box {
    position: absolute;
    top: calc(50vh - 100px);  // 화면 중앙 배치하기 위해서 
    left: calc(50vw - 200px); // 동일
    background-color: white;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;  // 이미지 , 텍스트를 세로 배치하기 위해서
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 200px;

    &__text {

      margin-top: rem(15px);
      &__text1,
      &__text2 {
        cursor: pointer;
        color: white;
        
      }

      &__line{
        display: inline-block;
        width: 1px;
        height: 15px;
        background-color: gray;
        margin: 0 rem(50px);
      }
    }

    @include tablet {  //tablet modal 
      width: 350px;
      height: 330px;
      top: calc(50vh - 165px);
      left: calc(50vw - 175px);

      &__text {
        font-size: 13px;
        margin-top: rem(10px);
        &__line{
          display: inline-block;
          width: 1px;
          height: 15px;
          background-color: gray;
          margin: 0 rem(45px);
        }
      }
    }

    @include mobile {  //mobile modal
      width: 300px;
      height: 250px;
      top: calc(50vh - 125px);
      left: calc(50vw - 150px);

      &__text {
        font-size: 11px;
        margin-top: rem(5px);
        &__line{
          display: inline-block;
          width: 1px;
          height: 15px;
          background-color: gray;
          margin: 0 rem(40px);
        }
      }

    }

    





  }
}




header {     // header 에서 배경색 변할때 애니메이션 주기
  transition: background-color 0.6s ease-in-out;
}

.banner,
.recommend {
  font-size: 1rem;
}

/* Accessibility Styles */

.banner {
  &__slider {
    position: relative;
    width: 100%;
    aspect-ratio: 15 / 7;   //가로 세로비 조절
    overflow: hidden;

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;  //모든 이미지를 안보이게하고, js에서 opacity를 조정해서 슬라이드 되는것처럼 표현
      background-size: cover;
      transition: opacity 0.5s ease-in-out;
      /* opacity 속성 사용시 0.5 초의 지연시간을 줌.*/
    }

    &__prev {
      position: absolute;
      color: white;
      cursor: pointer;
      background-color: transparent;
      border: none;
      top: 45%;
      left: 1%;
    }

    &__next {
      position: absolute;
      color: white;
      cursor: pointer;
      background-color: transparent;
      border: none;
      top: 45%;
      right: 1%;
    }

    &__details {  //자세히 보기 버튼
      position: absolute;
      color: white;
      text-decoration: none;
      border: 1px solid $gray3;
      padding: 12px 24px;
      border-radius: 10px;
      font-size: 1rem;
      bottom: 20%;
      right: 5%;
    }

    &__details:hover {
      border: 1px solid $white;
    }

    &__dot {  //정지, 시작버튼 오른쪽 4개 버튼들
      position: absolute;
      color: $white;
      top: 69%;
      left: 3.5%;
      margin-top: 10px;
      &__text{
        margin-bottom: 10px;
      }
      &__toggle {
        cursor: pointer;
        background-color: transparent;
        border: none;
        margin-right: 5px;
      }

      &__button {
        cursor: pointer;
        border: none;
        background-color: gray;
        vertical-align: rem(1.5px);
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin-left: 3px;
      }

      &__button.active {
        background-color: white;
      }
    }
  }
}


// section 1 파트 끝


// section 2 파트 시작

.recommend {
  width: 100%;
  margin-left: rem(30px);
  overflow: hidden;


  &__imgbox {
    width: 100%;
    height: 100%;
    margin: rem(50px) rem(50px) rem(50px) 0;


    .main__title {
      margin-bottom: rem(20px);
      font-size: rem(20px);
      font-weight: bold;
    }


    // 각 이미지들을 반응형 이미지로 보이게 하기위해서 이미지를 담고있는 flexbox 에 width 값을 tablet, mobile 다르게 만들었다.
    .content--box--width {
      width: 109%;

      @include tablet {
        width: 140%;
      }

      @include mobile {
        width: 245%;
      }
    }

    .vod--box--width {
      width: 125%;

      @include tablet {
        width: 200%;
      }

      @include mobile {
        width: 310%;
      }
    }

    .favorite--box--width {
      width: 108%;

      @include tablet {
        width: 145%;
      }

      @include mobile {
        width: 250%;
      }
    }


    .live--box--width {
      width: 114%;

      @include tablet {
        width: 180%;
      }

      @include mobile {
        width: 280%;
      }
    }


    .only--img--width {
      width: 110%;

      @include tablet {
        width: 160%;
      }

      @include mobile {
        width: 320%;
      }
    }



    .event--box--width {
      width: 170%;

      @include mobile {
        width: 280%;
      }
    }


    &__flexbox {
      @include flexbox($direction: row, $wrap : nowrap);
      margin-top: rem(10px);
      width: 105%;

      &__contentbox {
        padding-right: rem(13px);
        width: 13%;
        transition: transform 0.5s ease-in-out;
      }

      &__contentbox:hover {
        transform: translateY(-15px);

      }


      &__contentbox img {
        width: 100%;
      }

      &__contentbox figcaption {
        padding-top: rem(10px);
        color: $gray2;
      }


      &__vodbox {
        padding-right: rem(13px);
        width: 15%;

        @include tablet {
          width: 20%;
        }

        &__text {
          line-height: rem(30px);
          color: gray;
        }

        transition: transform 0.5s ease-in-out;
      }

      &__vodbox:hover {
        transform: translateY(-15px);
      }

      &__vodbox img {
        width: 100%;
      }

      &__vodbox figcaption {
        margin-top: rem(10px);
      }


      &__favoritebox {
        position: relative;
        margin-bottom: rem(25px);
        padding-right: rem(13px);
        width: 15%;

        &__number {
          @include pos($t: 88%);
          font-family: 'Noto Sans KR', sans-serif;
          font-style: italic;
          font-size: rem(70px);
          font-weight: bold;
        }

        &__text {
          @include pos($t: 102%, $l : 30%);
          color: $gray2;
        }

        transition: transform 0.5s ease-in-out;
      }

      &__favoritebox:hover {
        transform: translateY(-15px);
      }

      &__favoritebox img {
        width: 100%;
      }

      &__livebox {
        padding-right: rem(13px);
        width: 17%;
        position: relative;
        margin-bottom: 50px;

        img {
          width: 100%;
        }

        transition: transform 0.5s ease-in-out;

        &__mainbox {
          display: flex;
          position: absolute;
          top: 96%;
          margin-top: rem(5px);

          &__textbox {
            line-height: rem(25px);
            margin-top: rem(9px);
            padding-left: rem(20px);

            h5 {}

            h6 {
              font-weight: 300;
              color: $gray3;
              font-size: rem(15px);
            }

            span {
              color: $gray5;
            }
          }

          h4 {
            font-family: 'Noto Sans KR', sans-serif;
            font-style: italic;
            font-size: rem(70px);
            font-weight: bold;
          }
        }
      }

      &__livebox:hover {
        transform: translateY(-15px);
      }

      &__onlyimgbox {
        width: 15%;
        padding-right: rem(13px);

        img {
          width: 100%;
        }

        transition: transform 0.5s ease-in-out;
      }

      &__onlyimgbox:hover {
        transform: translateY(-15px);
      }


      &__eventimg {
        width: 11.1%;
        padding-right: rem(13px);

        @include tablet {
          width: 17%;
        }

        @include mobile {
          width: 17%;
        }
      }
    }

    //플렉스박스 끝
  }

  &__bottombox {
    padding-right: 60px; // section2에서 left 30준것 + 30
    transition: transform 0.5s ease-in-out;

    &__sportsbanner {  //스포츠 배너가 좌우 중간에 나오게 margin:auto 
      display: block;
      width: 90%;
      margin: auto;

    }
  }

  &__bottombox:hover {
    transform: translateY(-15px);
  }
}