@use './../utils' as *;

.search {
  width: 80%;
  @include autoMargin($marginX: auto);
  
  // 검색 페이지 배경 색상 설정
  &__body {
    background: #191919;

    header {
      position: relative;
    }
  }
  
  &__form {
    border-bottom: 1px solid $white;
    @include marginY($marginY: 50px);
    @include autoMargin;
  }
  
  &__fieldset {
    width: 100%;
  }

  // 검색창 정렬
  &__formGroup {
    @include flexbox($items: center);
  }
  
  // input 크기 늘림
  &__inputGroup {
    flex-grow: 1;
  }
  
  // input 기본 속성 제거 및 속성 부여
  &__input {
    width: 100%;
    color: $gray7;
    font-size: 2rem;
    outline: none;
    border: none;
    background: transparent;
    @include paddingY(15px);
  }
  
  // button 너비 및 검색 아이콘 설정
  &__button {
    width: 50px;
    height: 50px;
    background: url(./../image/search/Search.png);
  }
  
  // 검색어 리스트 정렬
  &__listGroup {
    @include flexbox;
  }
  
  // 각 콘텐츠가 절반씩 차지하도록 설정
  &__recent, &__realtime {
    width: 50%;
  }
  
  // 콘텐츠 타이틀 속성 부여 | 모두 지우기 버튼과 정렬 위해 flex 속성 부여
  &__title {
    color: $gray2;
    font-size: 1.5rem;
    margin-bottom: 30px;
    @include flexbox($items: center);
  }

  // 최근 검색어 속성
  &__history {
    color: $gray3;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  // 모두 지우기 버튼 속성
  &__eraseAll {
    color: $gray6;
    font-size: 1rem;
    margin-left: 20px;
  }
  
  //모두 지우기 안의 erase 버튼 설정
  &__eraseAll &__erase {
    margin-left: 3px;
    vertical-align: text-bottom;
    background: url(./../image/search/Device=Desktop\,\ Type=Filled.png) no-repeat center;
  }
  
  // 검색 목록의 erase 버튼 설정
  &__erase {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    vertical-align: bottom;
    background: url(./../image/search/Device=Desktop\,\ Type=No_Filled.png) no-repeat center;
  }
  
  // 인기 검색어 속성
  &__lists {
    color: $gray3;
    font-size: 1.2rem;
  }
  
  &__list {
    padding-bottom: 25px;
  }
  
  // 시간 색상, 사이즈
  &__time {
    color: $gray5;
    font-size: 1.2rem;
  }
  
  // 순위 너비 고정 값, 색깔 부여
  &__rank {
    width: 30px;
    display: inline-block;
    color: $red_login;
  }

  // 모바일 시 input 내부 글자 크기
  @include mobile {
    &__input {
      font-size: 1.5rem;
    }
  }
}

// js 컨트롤 위한 설정
#searchNone {
  display: block;
}

#eraseAll {
  display: none;
}